<div class="row border-shadow">
    <div class="col-md-3 ">
        <div class="card-header" style="background-color: #eeeddd">
            <h5 style="text-align:center;">Contact List</h5>
        </div>
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="name" [(ngModel)]="term">
                <div class="input-group-btn">
                    <button class="btn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <div class="anyclass">
        <div class=" list-group " *ngFor="let contact of contactdata | filter:term "
            [class.selected]="contact === contactlist"
            (click)="onSelect(contact)">
            <a class="btn list-group-item list-group-item-action"><img class="rounded-circle" src="{{contact.image}}" height="30" width="30"/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="name">{{contact.first_name}}</span></a>    
        </div>
  </div>       
</div>
<div class="col-md-8 contact-info">
    <h6 style="text-align:center"><span class="badge badge-primary">Info</span>&nbsp;Click the contact for view information and Edit</h6>
    <hr>
    <div *ngIf="contactlist">
        <div class="row" >
            <div class="col-md-3">
                <img class="rounded-circle" src="{{contactlist.image}}" height="150" width="150"/>
            </div>
            <div class="col-md-6">
                <p><span style="font-weight:bold">Name:</span>&nbsp;&nbsp;{{contactlist.first_name}}</p>
                <p><span style="font-weight:bold">Email:</span>&nbsp;&nbsp;{{contactlist.email}}</p>
                <p><span style="font-weight:bold">Gender:</span>&nbsp;&nbsp;{{contactlist.gender}}</p>
                <p><span style="font-weight:bold">Phone:</span>&nbsp;&nbsp;{{contactlist.phone}}</p>
            </div>
            <div col-md-3>
                <button class="btn btn-outline-success btn-block" (click)="toggle()" (click)="onEdit(contactlist)">Edit</button>
            </div>
        </div>
        <br><br><br>
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" *ngIf="show">
            <input type="hidden" name="$key"  #$key="ngModel" [(ngModel)]="contactl.selectedcontact.$key">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" name="first_name" #name="ngModel" [(ngModel)]="contactl.selectedcontact.first_name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="contactl.selectedcontact.email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="">Phone</label>
                <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="contactl.selectedcontact.phone" placeholder="Enter phone">
            </div>
            <div class="form-group">
                <button class="btn btn-success"type="submit">submit</button>
                &nbsp;<button class="btn btn-primary"type="submit" (click)="resetform(contactForm)">Reset</button>
            </div>
            
        </form> 
     </div>
</div>
 